.cont-start{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glow{
    margin-top: 18%;
    font-size: 60px;
    color: var(--glowTest);
    font-family: 'Dancing Script', cursive;
}