<div class="clock">
    <div class="hand-hour"></div>
    <div class="hand-minute"></div>
    <div class="hand-second"></div>
    <svg width="500" height="500">
        <text x="345" y="80">1</text>
        <text x="425" y="160">2</text>
        <text x="455" y="270">3</text>
        <text x="420" y="380">4</text>
        <text x="345" y="460">5</text>
        <text x="235" y="490">6</text>
        <text x="130" y="460">7</text>
        <text x="45" y="380">8</text>
        <text x="15" y="270">9</text>
        <text x="45" y="160">10</text>
        <text x="120" y="80">11</text>
        <text x="220" y="0">12</text>
    </svg>
</div>

