<footer class="footer">
    <div class="container-footer">
        <div class="footer-container__contacts">
            <ul class="contacts-list">
                <li class="item__tel">
                    <a href="el:+380673588786" class="contact-item">38_067_358_87_86</a>
                </li>
                <li class="item__adress">
                    <a href="https://goo.gl/maps/tTv9aUWySJtN7X8ZA" class="contact-item">Ukraine, Kyiv, Tolbukhina str, bld 9</a>
                </li>
                <li class="item__email">
                    <a href="mailto:info@example.com" class="contact-item">alex.berd86@gmail.com</a>
                </li>
            </ul>
        </div>
        <div class="footer-container__socNets">
            <p class="socnetfooter__title">connect</p>
            <ul class="socNets-list">
                <li class="socNets-item">
                    <a href="" class="item"></a>
                </li>
                <li class="socNets-item">
                    <a href="" class="item"></a>
                </li>
                <li class="socNets-item">
                    <a href="" class="item"></a>
                </li>
                <li class="socNets-item">
                    <a href="" class="item"></a>
                </li>
                <li class="socNets-item">
                    <a href="" class="item"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>