<footer class="footer">
 <div class="icon-section">
    <a href="#" class="icon-wrapper">
        <div class="inner-wrapper">
            <div class="front">
                <i class="fa fa-instagram fa-5x"></i>
            </div>
            <div class="back">
                <p>Instagram</p>
            </div>
        </div>
    </a>
 </div>
<div class="icon-section">
    <a href="#" class="icon-wrapper">
        <div class="inner-wrapper">
            <div class="front">
                <i class="fa fa-facebook fa-5x"></i>
            </div>
            <div class="back">
                <p>Facebook</p>
            </div>
        </div>
    </a>
</div>
<div class="icon-section">
    <a href="#" class="icon-wrapper">
        <div class="inner-wrapper">
            <div class="front">
                <i class="fa fa-twitter fa-5x"></i>
            </div>
            <div class="back">
                <p>Twitter</p>
            </div>
        </div>
    </a>
</div>
<div class="icon-section">
    <a href="#" class="icon-wrapper">
        <div class="inner-wrapper">
            <div class="front">
                <i class="fa fa-linkedin fa-5x"></i>
            </div>
            <div class="back">
                <p>LinkedIn</p>
            </div>
        </div>
    </a>
</div>
</footer>